Source: varnish-agent
Section: varnish-3.0/web
Priority: extra
Maintainer: Varnish Support <support@varnish-software.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: varnish-agent
Architecture: all
Depends: libproc-daemon-perl, libfile-pid-perl, liblog-dispatch-perl, libio-socket-ssl-perl, liblog-log4perl-perl, libdigest-sha-perl, libwww-perl, libconfig-simple-perl, ${perl:Depends}, ${misc:Depends}
Description: Agent used to control Varnish on behalf of the Varnish Admin Console
 
